.github-stats {
  display: flex;
  justify-content: space-between;
}

.fav-tools {
    display: flex;
    justify-content: space-between;

    div {
        img {
            height: 64px;
        }
        display: flex;
        width: 96px;

        flex-direction: column;
        align-items: center;

        border: 1px solid #e2e2e2;
        border-radius: 5px;

        padding: 5px;
    }
}
